services:

  proxy:
    image: nginx:alpine
    container_name: DevOps-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app

  app:
    build: .
    container_name: DevOps-app
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:18.1
    container_name: DevOps-db
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  pgdata:
