services:
  db:
    image: postgres:18.1
    container_name: DevOps-db
    restart: always
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
